@charset "UTF-8";

body{
    background-color:#1c1930;
    font-family: montserrat;
    font-size: 16px;
    color: #ffffff;
}
h1{
    text-align: center;
    margin-top: 40px;
}
p{
    text-align: center;
    margin-top: 20px;
}
.btn1{
    background-color:#000000;
    color: #ffffff;
    width:150px;
    height: 40px;
    border:3px #0a0 solid;
    border-radius: 5px;
    cursor: pointer;
}
iframe{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding:10px;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 650px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding:10px;
}
